html {
  background-color: rgb(182, 181, 181);
}
h1 {
  color: #f1f1f1;
}
#banner {
  background-color: rgb(90, 89, 88);
  text-align: center;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
}
#left {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 10px;
  float: left;
  background-color: #f1f1f1;
  height: 800px;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
}
#mid {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 10px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
  background-color: rgb(90, 89, 88);
  height: 800px;
  width: 76%;
  border-radius: 10px;
  color: #f1f1f1;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  width: 200px;
  background-color: rgb(90, 89, 88);
  border: #000;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
li a {
  display: block;
  color: #f1f1f1;
  margin: auto;
  padding: 8px 16px;
  text-decoration: none;
  border: #000;
}
li a:hover {
  background-color: #555;
  color: white;
}
li a:active {
  background-color: #555;
  color: white;
}
table {
  border-collapse: collapse;
  width: 98%;
}
th, td {
  text-align: left;
}
